{{!-- See <base>/main/passface-core/passface-models.js for PasswordEntry data class --}}
<div
  class="password-container"
  data-path='["{{ password.path }}", "{{ password.name }}"]'
 >
    <div class="password-header">
      <div class="password-name">{{ password.name }}</div>
      <div class="password-path">Path: {{ password.path }}</div>
    </div>
    <div class="password-body">
      <div class="password">{{ password.password }}</div>
      <div class="button">Edit</div>
    </div>
</div>