{{!-- See <base>/main/passface-core/passface-models.js for PasswordEntry data class --}}
<div
  class="password-container"
  data-path='["{{ password.path }}", "{{ password.name }}"]'
 >
    <div class="password-header">
      <div class="password-name">{{ password.name }}</div>
      <div class="password-path">Path: {{ password.path }}</div>
    </div>
    <div class="password-body">
      {{#if password.error}}
      <div class="password-error">{{ password.error}}</div>
      {{else}}
        {{#if editable}}
      <textarea rows="4" cols="50">{{ password.password }}</textarea>
      <div class="new-pwd button">Submit</div>
        {{else}}
      <div class="password">{{ password.password }}</div>
      <div class="edit-pwd button">Edit</div>
        {{/if}}
      {{/if}}
    </div>
</div>
<div class="modal{{#if needsPassword}} is-active{{/if}}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <input type="password" id="pk-passphrase">
      <div class="pk-passphrase button">Decrypt</div>
    </div> 
  </div>
</div>
