{{!-- See <base>/main/passface-core/passface-models.js for PasswordEntry data class --}}
<div
  class="password-entry{{#if password.isDirectory}} directory{{else}} file{{/if}}"
  data-path='["{{ password.path }}", "{{ password.name }}"]'
 >
{{#if password.isDirectory}}
  {{ password.name }}/
{{else}}
  {{ password.name }}
{{/if }}
</div>